<h1> {{ currentHero.id?'Editar':'Agregar'}}</h1>
<mat-divider class="mb-2"></mat-divider>

<form [formGroup]="heroForm" (ngSubmit)="onSubmit()">
    <mat-grid-list cols="3" rowHeight="150px">
        <mat-grid-tile rowspan="1">
            <mat-form-field style="width: 95%;">
                <mat-label>Super héroe</mat-label>
                <input matInput type="text" required formControlName="superhero" />
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field style="width: 95%;">
                <mat-label>Alter ego</mat-label>
                <input matInput type="text" required formControlName="alter_ego" />
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="3">
            <img mat-card-image [src]="currentHero|heroImage" alt="imagen del héroe">
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field style="width: 95%;">
                <mat-label>Primera aparición</mat-label>
                <input matInput type="text" required formControlName="first_appearance" />
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field style="width: 95%;">
                <mat-label>Personajes</mat-label>
                <input matInput type="text" required formControlName="characters" />
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field style="width: 95%;">
                <mat-label>Imagen alternativa</mat-label>
                <input matInput type="text" formControlName="alt_img" />
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" formControlName="publisher">
                @for (publisher of publishers; track $index) {
                <mat-button-toggle [value]="publisher.id">{{ publisher.desc }}</mat-button-toggle>
                }
            </mat-button-toggle-group>
        </mat-grid-tile>
    </mat-grid-list>
    <footer>
        <div class="flex justify-content-end m-5">
            @if(currentHero.id){
            <button mat-flat-button color="warn" (click)="onDeleteHero()">
                <mat-icon>delete</mat-icon>
                Borrar
            </button>
            }
            <button class="ml-4" mat-flat-button color="primary" (click)="onSubmit()">
                <mat-icon>save</mat-icon>
                Guardar
            </button>
        </div>
    </footer>
</form>