<mat-card>
    <mat-card-header>
        <mat-card-title>{{hero.superhero}}</mat-card-title>
        <mat-card-subtitle>{{hero.alter_ego}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="hero|heroImage">
    <mat-card-content class="mt-2">
        <h4>{{hero.publisher}}</h4>
        <p>
            <strong>Primera aparición</strong> {{ hero.first_appearance }}
            <br>
            <mat-chip-listbox>
                @for (name of hero.characters.split(',') | slice:0:3; track $index) {
                <mat-chip>{{name}} </mat-chip>
                }
            </mat-chip-listbox>
        </p>
    </mat-card-content>
    <mat-divider/>
    <mat-card-actions>
        <button mat-mini-fab color="primary" 
                 [routerLink]="['/heroes/edit']" 
                 title="Editar">
            <mat-icon>edit</mat-icon>
        </button>
        <span class="spacer"></span>
        <button mat-mini-fab 
                 (click)="openModalInfo()" 
                 title="Información">
            <mat-icon>info</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>