<div class="flex flex-column ">
    <span class="text-lg text-center mb-4">Login</span>
    <mat-form-field>
        <input matInput placeholder="Email">
    </mat-form-field>
    <mat-form-field>
        <input type="password" matInput placeholder="Contraseña">
    </mat-form-field>
    <button mat-flat-button color="primary" >
        <span class="text-lg text-center mb-4">Ingresar</span>
        <mat-icon>login</mat-icon>
    </button>

    <div class="flex justify-content-end mt-5">
        <a routerLink="/auth/register" routerLinkActive="router-link-active" >¿No tienes cuenta?</a>
    </div>
</div>
